// .card-container {
//   bottom: -10px;
// }

// .card-body {
//   bottom: -50px;
// }

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img {
  overflow: hidden;
}

.card-img:hover {
  cursor: pointer;
}

// .rowe {
//   min-height: 250px;
// }




