// font-family: 'Anton', sans-serif;
// font-family: 'Noto Sans Display', sans-serif;

.party-txt {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 600;
  color: #FFF3D9;
}

.party-btn {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #DC4731;
  background-color: transparent;
  border: none;
}