// font-family: 'Anton', sans-serif;
// font-family: 'Noto Sans Display', sans-serif;



// .main-view {
//   // flex: 3 1 auto;
//   display: flex;
//   // flex-direction: column;
//   justify-content: center;
// }

.movie-card-col {
  height: 365px;
  overflow: hidden;
  z-index: 9;
  &:hover,
  &:active {
    transform: scale(1.1);
    cursor: pointer;
  }
  transition: .4s ease-in-out; 
} 

.col-md-3{
  padding: 2px;
}

.col-sm-3{
  padding: 10px;
}